/*
  World Flags
  ---------------------
  @desc: Css Sprite World Flags
  @author: Alan Museljic
  @twitter: https://www.twitter.com/_uloga
  @source: http://www.decorator.io/worldflags
  @copyright: Alan Museljic
  @licence: MIT
\--------------------------------------------*/

/* flags 32x32 */
[class^="f32_"],
[class*=" f32_"] {
    background: url("flags32.png") no-repeat 0 0 transparent; 
    width: 32px;
    height: 22px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}
.f32_abkhazia{background-position:0px -6px}
.f32_afghanistan{background-position:0px -38px}
.f32_aland{background-position:0px -70px}
.f32_albania{background-position:0px -102px}
.f32_algeria{background-position:0px -134px}
.f32_american_samoa{background-position:0px -166px}
.f32_andorra{background-position:0px -198px}
.f32_angola{background-position:0px -230px}
.f32_anguilla{background-position:0px -262px}
.f32_antigua_and_barbuda{background-position:0px -294px}
.f32_argentina{background-position:0px -326px}
.f32_armenia{background-position:0px -358px}
.f32_aruba{background-position:0px -390px}
.f32_australia{background-position:0px -422px}
.f32_austria{background-position:0px -454px}
.f32_azerbaijan{background-position:0px -486px}
.f32_bahamas{background-position:0px -518px}
.f32_bahrain{background-position:0px -550px}
.f32_bangladesh{background-position:0px -582px}
.f32_barbados{background-position:0px -614px}
.f32_basque_country{background-position:0px -646px}
.f32_belarus{background-position:0px -678px}
.f32_belgium{background-position:0px -710px}
.f32_belize{background-position:0px -742px}
.f32_benin{background-position:0px -774px}
.f32_bermuda{background-position:0px -806px}
.f32_bhutan{background-position:0px -838px}
.f32_bolivia{background-position:0px -870px}
.f32_bosnia_and_herzegovina{background-position:0px -902px}
.f32_botswana{background-position:0px -934px}
.f32_brazil{background-position:0px -966px}
.f32_british_antarctic_territory{background-position:0px -998px}
.f32_british_virgin_islands{background-position:0px -1030px}
.f32_brunei{background-position:0px -1062px}
.f32_bulgaria{background-position:0px -1094px}
.f32_burkina_faso{background-position:0px -1126px}
.f32_burundi{background-position:0px -1158px}
.f32_cambodia{background-position:0px -1190px}
.f32_cameroon{background-position:0px -1222px}
.f32_canada{background-position:0px -1254px}
.f32_canary_islands{background-position:0px -1286px}
.f32_cape_verde{background-position:0px -1318px}
.f32_cayman_islands{background-position:0px -1350px}
.f32_central_african_republic{background-position:0px -1382px}
.f32_chad{background-position:0px -1414px}
.f32_chile{background-position:0px -1446px}
.f32_china{background-position:0px -1478px}
.f32_christmas_island{background-position:0px -1510px}
.f32_cocos_keeling_islands{background-position:0px -1542px}
.f32_colombia{background-position:0px -1574px}
.f32_comoros{background-position:0px -1606px}
.f32_cook_islands{background-position:0px -1638px}
.f32_costa_rica{background-position:0px -1660px}
.f32_cote_divoire{background-position:0px -1702px}
.f32_croatia{background-position:0px -1734px}
.f32_cuba{background-position:0px -1766px}
.f32_curacao{background-position:0px -1798px}
.f32_cyprus{background-position:0px -1830px}
.f32_czech_republic{background-position:0px -1862px}
.f32_d_r_of_the_congo{background-position:0px -1894px}
.f32_denmark{background-position:0px -1926px}
.f32_djibouti{background-position:0px -1958px}
.f32_dominica{background-position:0px -1990px}
.f32_dominican_republic{background-position:0px -2022px}
.f32_east_timor{background-position:0px -2054px}
.f32_ecuador{background-position:0px -2086px}
.f32_egypt{background-position:0px -2118px}
.f32_el_salvador{background-position:0px -2150px}
.f32_england{background-position:0px -2182px}
.f32_equatorial_guinea{background-position:0px -2214px}
.f32_eritrea{background-position:0px -2246px}
.f32_estonia{background-position:0px -2278px}
.f32_ethiopia{background-position:0px -2310px}
.f32_european_union{background-position:0px -2342px}
.f32_falkland_islands{background-position:0px -2374px}
.f32_faroes{background-position:0px -2406px}
.f32_fiji{background-position:0px -2438px}
.f32_finland{background-position:0px -2470px}
.f32_france{background-position:0px -2502px}
.f32_french_polynesia{background-position:0px -2534px}
.f32_french_southern_territories{background-position:0px -2566px}
.f32_gabon{background-position:0px -2598px}
.f32_gambia{background-position:0px -2630px}
.f32_georgia{background-position:0px -2662px}
.f32_germany{background-position:0px -2694px}
.f32_ghana{background-position:0px -2726px}
.f32_greece{background-position:0px -2758px}
.f32_greenland{background-position:0px -2790px}
.f32_grenada{background-position:0px -2822px}
.f32_guam{background-position:0px -2854px}
.f32_guatemala{background-position:0px -2886px}
.f32_guernsey{background-position:0px -2918px}
.f32_guinea_bissau{background-position:0px -2950px}
.f32_guinea{background-position:0px -2982px}
.f32_guyana{background-position:0px -3014px}
.f32_haiti{background-position:0px -3046px}
.f32_honduras{background-position:0px -3078px}
.f32_hong_kong{background-position:0px -3110px}
.f32_hungary{background-position:0px -3142px}
.f32_iceland{background-position:0px -3174px}
.f32_india{background-position:0px -3206px}
.f32_indonesia{background-position:0px -3238px; background-color: #f3f3f3;}
.f32_iran{background-position:0px -3270px}
.f32_iraq{background-position:0px -3302px}
.f32_ireland{background-position:0px -3334px}
.f32_isle_of_man{background-position:0px -3366px}
.f32_israel{background-position:0px -3398px}
.f32_italy{background-position:0px -3430px}
.f32_jamaica{background-position:0px -3462px}
.f32_japan{background-position:0px -3494px}
.f32_jersey{background-position:0px -3526px}
.f32_jordan{background-position:0px -3558px}
.f32_kazakhstan{background-position:0px -3590px}
.f32_kenya{background-position:0px -3622px}
.f32_kiribati{background-position:0px -3654px}
.f32_kosovo{background-position:0px -3686px}
.f32_kuwait{background-position:0px -3718px}
.f32_kyrgyzstan{background-position:0px -3750px}
.f32_laos{background-position:0px -3782px}
.f32_latvia{background-position:0px -3814px}
.f32_lebanon{background-position:0px -3846px}
.f32_lesotho{background-position:0px -3878px}
.f32_liberia{background-position:0px -3910px}
.f32_libya{background-position:0px -3942px}
.f32_liechtenstein{background-position:0px -3974px}
.f32_lithuania{background-position:0px -4006px}
.f32_luxembourg{background-position:0px -4038px}
.f32_macau{background-position:0px -4070px}
.f32_macedonia{background-position:0px -4102px}
.f32_madagascar{background-position:0px -4134px}
.f32_malawi{background-position:0px -4166px}
.f32_malaysia{background-position:0px -4198px}
.f32_maldives{background-position:0px -4230px}
.f32_mali{background-position:0px -4262px}
.f32_malta{background-position:0px -4294px}
.f32_mars{background-position:0px -4326px}
.f32_marshall_islands{background-position:0px -4358px}
.f32_martinique{background-position:0px -4390px}
.f32_mauritania{background-position:0px -4422px}
.f32_mauritius{background-position:0px -4454px}
.f32_mayotte{background-position:0px -4486px}
.f32_mexico{background-position:0px -4518px}
.f32_micronesia{background-position:0px -4550px}
.f32_moldova{background-position:0px -4582px}
.f32_monaco{background-position:0px -4614px}
.f32_mongolia{background-position:0px -4646px}
.f32_montenegro{background-position:0px -4678px}
.f32_montserrat{background-position:0px -4710px}
.f32_morocco{background-position:0px -4742px}
.f32_mozambique{background-position:0px -4774px}
.f32_myanmar{background-position:0px -4806px}
.f32_nagorno_karabakh{background-position:0px -4838px}
.f32_namibia{background-position:0px -4870px}
.f32_nauru{background-position:0px -4902px}
.f32_nepal{background-position:0px -4934px}
.f32_netherlands_antilles{background-position:0px -4966px}
.f32_netherlands{background-position:0px -4998px}
.f32_new_caledonia{background-position:0px -5030px}
.f32_new_zealand{background-position:0px -5062px}
.f32_nicaragua{background-position:0px -5094px}
.f32_niger{background-position:0px -5126px}
.f32_nigeria{background-position:0px -5158px}
.f32_niue{background-position:0px -5190px}
.f32_norfolk_island{background-position:0px -5222px}
.f32_north_korea{background-position:0px -5254px}
.f32_northern_cyprus{background-position:0px -5286px}
.f32_norway{background-position:0px -5318px}
.f32_oman{background-position:0px -5350px}
.f32_pakistan{background-position:0px -5382px}
.f32_palau{background-position:0px -5414px}
.f32_palestine{background-position:0px -5446px}
.f32_panama{background-position:0px -5478px}
.f32_papua_new_guinea{background-position:0px -5510px}
.f32_paraguay{background-position:0px -5542px}
.f32_peru{background-position:0px -5574px}
.f32_philippines{background-position:0px -5606px}
.f32_pitcairn_islands{background-position:0px -5638px}
.f32_poland{background-position:0px -5670px}
.f32_portugal{background-position:0px -5702px}
.f32_puerto_rico{background-position:0px -5734px}
.f32_qatar{background-position:0px -5766px}
.f32_republic_of_the_congo{background-position:0px -5798px}
.f32_romania{background-position:0px -5830px}
.f32_russia{background-position:0px -5862px}
.f32_rwanda{background-position:0px -5894px}
.f32_saint_barthelemy{background-position:0px -5926px}
.f32_saint_helena{background-position:0px -5958px}
.f32_saint_kitts_and_nevis{background-position:0px -5990px}
.f32_saint_lucia{background-position:0px -6022px}
.f32_saint_martin{background-position:0px -6054px}
.f32_s_v_and_the_grenadines{background-position:0px -6086px}
.f32_samoa{background-position:0px -6118px}
.f32_san_marino{background-position:0px -6150px}
.f32_sao_tome_and_principe{background-position:0px -6182px}
.f32_saudi_arabia{background-position:0px -6214px}
.f32_scotland{background-position:0px -6246px}
.f32_senegal{background-position:0px -6278px}
.f32_serbia{background-position:0px -6310px}
.f32_seychelles{background-position:0px -6342px}
.f32_sierra_leone{background-position:0px -6374px}
.f32_singapore{background-position:0px -6406px}
.f32_slovakia{background-position:0px -6438px}
.f32_slovenia{background-position:0px -6470px}
.f32_solomon_islands{background-position:0px -6502px}
.f32_somalia{background-position:0px -6534px}
.f32_somaliland{background-position:0px -6566px}
.f32_south_africa{background-position:0px -6598px}
.f32_south_korea{background-position:0px -6630px}
.f32_south_ossetia{background-position:0px -6662px}
.f32_south_sudan{background-position:0px -6694px}
.f32_spain{background-position:0px -6726px}
.f32_sri_lanka{background-position:0px -6758px}
.f32_sudan{background-position:0px -6790px}
.f32_suriname{background-position:0px -6822px}
.f32_swaziland{background-position:0px -6854px}
.f32_sweden{background-position:0px -6886px}
.f32_switzerland{background-position:0px -6918px}
.f32_syria{background-position:0px -6950px}
.f32_taiwan{background-position:0px -6982px}
.f32_tajikistan{background-position:0px -7014px}
.f32_tanzania{background-position:0px -7046px}
.f32_thailand{background-position:0px -7078px}
.f32_togo{background-position:0px -7110px}
.f32_tonga{background-position:0px -7142px}
.f32_trinidad_and_tobago{background-position:0px -7174px}
.f32_tunisia{background-position:0px -7206px}
.f32_turkey{background-position:0px -7238px}
.f32_turkmenistan{background-position:0px -7270px}
.f32_turks_and_caicos_islands{background-position:0px -7302px}
.f32_tuvalu{background-position:0px -7334px}
.f32_uganda{background-position:0px -7366px}
.f32_ukraine{background-position:0px -7398px}
.f32_united_arab_emirates{background-position:0px -7430px}
.f32_united_kingdom{background-position:0px -7462px}
.f32_united_states{background-position:0px -7494px}
.f32_uruguay{background-position:0px -7526px}
.f32_uzbekistan{background-position:0px -7558px}
.f32_vanuatu{background-position:0px -7590px}
.f32_vatican_city{background-position:0px -7622px}
.f32_venezuela{background-position:0px -7654px}
.f32_vietnam{background-position:0px -7686px}
.f32_wales{background-position:0px -7718px}
.f32_wallis_and_futuna{background-position:0px -7750px}
.f32_western_sahara{background-position:0px -7782px}
.f32_yemen{background-position:0px -7814px}
.f32_zambia{background-position:0px -7846px}
.f32_zimbabwe{background-position:0px -7878px}

